<nav><img src = "images/osu-navbar.svg" alt = "OSU Logo" class = "osu-logo" /> </nav>

<h1>CSE Individualized Track Plan</h1>

<table class="four-year-plan">
  <thead>
    <tr class="year">
      <% data.schedule.years.each do |year| %>
        <th colspan="2"><%= year %></th>
      <% end %>
    </tr>
    <tr class="semester">
      <% data.schedule.semesters.each do |semester| %>
        <th><%= semester.split("-")[1] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% max_rows = data.schedule.schedule.values.map(&:size).max || 0 %>

    <% (0...max_rows).each do |row_index| %>
      <tr>
        <% data.schedule.semesters.each do |semester| %>
          <% courses = data.schedule.schedule[semester] || [] %>
          <td>
            <% if row_index < courses.size %>
              <% code = courses[row_index] %>
              <% course = data.courses[code] %>
              <div class="class-box"
                   data-id="<%= code %>" 
                   data-pre="<%= course.prereqs.join(' ') %>" 
                   data-co="<%= course.coreqs.join(' ') %>"
                   data-post="<%= course.postreqs.join(' ') %>">
                <h3> <%= course.label %> </h3>
                <p> <%= course.name %> </p>
              </div>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
